<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily Diary</title>
  </head>
  <body>
    <div>
      <h1>Daily Diary</h1>
    </div>
    <div>
      <p><%= @entry_title %></p>
      <p><%= @diary_entry %></p>
    </div>
    <div>
      <form action="/add_entry">
        <input type="submit" name="" value="Add entry">
      </form>
    </div>

  </body>
</html>
